/*style the main menu*/
.menu {
	display:inline-flex;
	margin:0;
	padding:0;
	background-color: grey;
}

.menu li {
	list-style:none;
}

.menu li a:link, .menu li a:visited {
	/*display:block;*/
	/*text-decoration:none;*/
	/*background-color:#09F;*/
	/*padding: 0.5em 2em;*/
	/*margin:0;*/
	/*border-right: 1px solid #fff;*/
	/*color:#111;*/
}

.menu li a:hover {
	background-color:lightgray;
}

/*style the sub-menu*/
.menu li ul {
	position:absolute;
	visibility:hidden;
	background-color:white;
	/*background-color:#f6f2c3;*/
	border-bottom:1px solid black;
	border-right:1px solid black;
	border-top:1px solid lightgray;
	border-left:1px solid lightgray;
	border-radius:4px;
	margin:0;
	padding:0;
}

.menu li ul li {
	display:inline;
	float:none;
}

.menu li ul li a:link, .menu li ul li a:visited {
	background-color:transparent;
	width:auto;
	text-decoration:none;
	padding: 0em 0.2em;
	/*color:gray;*/
	color:#c0c0c0;
}

.menu li ul li a:hover {
	/*background-color:#cc9966;*/
	background-color:white;
	/*background-color:#f6f2c3;*/
	/*color:black;*/
	/*color:#cc9966;*/
	color:#0000f2;
}
