<tr>
	<td class="col-md-6">
		<img src="{{src}}" class="img-thumbnail dts-thumbnail">
	</td>
	<td class="col-md-6 dts-dl-horizontal">
		<dl class="dl-horizontal">
		  <dd>{{description}}</dd>
		  <dt>Image size</dt>
		  <dd>{{width}} x {{height}}</dd>
		  {{#if linkback}}
		  	<dt>More info</dt>
		    <dd><a href="{{linkback}}" alt="Click here for more info" target="_blank">DTS</a></dd>
	      {{/if}}
		</dl>
	</td>
</tr>
