<tr>
	<td class="col-md-6">
		<a href="{{href}}">{{href}}</a>
	</td>
	<td class="col-md-6 dts-dl-horizontal">
		<dl class="dl-horizontal">
		  <dd><b>{{description}}</b></dd>
		  {{#if linkback}}
		  	<dt>More information</dt>
		    <dd><a href="{{linkback}}" alt="Click here for more information" target="_blank">DTS</a></dd>
	    {{/if}}
		</dl>
	</td>
</tr>
