<div class="bd">
<div class="modal fade ontop" id="DTSModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Search Data</h4>
      </div>
      <div class="modal-body">
          <div class="row dts-top-buffer">
            <div class="col-md-6">
              <button type="submit" class="btn btn-default" id="DTSShow"><span class="glyphicon glyphicon-glyphicon glyphicon-list-alt"></span> Queryable Data </button>
              <a class="btn btn-primary dts-has-spinner" id="DTSIndex">
                <span class="dts-spinner"><i class="glyphicon glyphicon-refresh glyphicon-spin"></i></span>
                Create Index
              </a>
            </div>
            <div class="col-md-6">
              <span class="label label-danger pull-right" id="DTSFailedExtractions">0</span>
              <span class="label label-success pull-right" id="DTSSuccessfulExtractions">0</span>
              <span class="label label-primary pull-right" id="DTSDataFound">0</span>
            </div>
          </div>
          <div class="row dts-top-buffer">
            <div class="col-md-8">
              <label class="sr-only" for="DTSquery">Query</label>
              <input type="text" class="form-control" id="DTSquery" placeholder="Search query">
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-default" id="DTSSearch"><span class="glyphicon glyphicon-search"></span> Search</button>
            </div>
          </div>
          <div class="row dts-top-buffer">
            <div class="col-md-12">
              <!-- <h4>Search Results</h4> -->
            </div>
          </div>
          <div class="row dts-top-buffer">
            <div class="col-md-12">
              <div class="DTSSearchResultsScroll">
                <table class="table" id="DTSSearchResults">
                  <tbody></tbody>
                  </table>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <a href="http://browndog.ncsa.illinois.edu">
          <img src="http://browndog.ncsa.illinois.edu/graphics/browndog-large-3d.png" width="50px" class="pull-left">
        </a>
        <button type="button" class="btn btn-close" data-dismiss="modal"><span class="glyphicon glyphicon-eject"></span> Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
